; Memory parameters 
; 
; Interface specifications
; 800 MHz clock (1600 MT/s DDR). Clock period = 1.25 ns
CLK 800
; Data Rate. 1 for SDR, 2 for DDR
RATE 2
; Bus width in bits. JEDEC standard is 64-bits
BusWidth 64
; Number of bits provided by each device in a rank
; Number of devices is calculated using BusWidth / DeviceWidth.
DeviceWidth 8


; Note: Since the clock sync is in the NVMain request issue,
;       we need to set this the same as the DRAM Cache memory 
;       clock for the off-chip memory's clock speed
CPUFreq 2000


; Number of banks per rank and number of ranks.
BANKS 8
RANKS 1
CHANNELS 4
; Number of active rows from NVSIM
; All predecoding should be part of the row address.
;ROWS 262144
;ROWS 131072
ROWS 65536
;ROWS 32768
; Number of active cols from NVSIM
;COLS 1024
COLS 32


; Control parameters
PrintGraphs false
PrintPreTrace false
EchoPreTrace false
PeriodicStatsInterval 1000000

TraceReader NVMainTrace

; Refresh stuff. RefreshRows = # of rows to refresh per refresh operation.
UseRefresh true
RefreshRows 8
BanksPerRefresh 4
DelayedRefreshThreshold 1

; Endurance model parameters
EnduranceModel NullModel
EnduranceDist Normal
EnduranceDistMean 1000000 
EnduranceDistVariance  100000


; Specify which memory controller to use
MEM_CTL FRFCFS
INTERCONNECT OffChipBus
AddressMappingScheme R:RK:BK:CH:C

InitPD false


; Timing parameters 
tRAS 28


tCMD 1
tBURST 4

tRCD 11
tAL 0
tCCD 4
tCWD 4
tWTR 5
tWR 20
; tCAS is also known as tCL
tCAS 11
tRTRS 1
tRTP 5
tRP 11
tRFC 107
; ODT switching time
tOST 1 

tRRDR 5
tRRDW 5

; Row Activation Window (RAW), which specifies the maximum Activation in a
; rolling window. tRAW is the corresponding window width (in cycle).
; Options:
;   for 2D DRAM, RAW = 4, Four Activation Window (FAW)
;   for WideI/O DRAM, RAW = 2, Two Activation Window (TAW)
RAW 4
tRAW 20

tPD 5
tXP 6
tXPDLL 23

; 64ms / tCK = refresh interval. also known as tREFI
tREFW 64ms


EnergyModel current

; Energy Parameters
; 
; Read/write values are in nano Joules
; NOTES:
;   NVSIM energy is per word
;   Erd is the read energy from a single mat
;   Ewr is the write energy (SET or RESET, they are the same)
;   These values are the energys required to read a page into a row buffer.
;
;   Other energy values are taken from CACTI
;
Erd 0.081200 
Eopenrd 0.001616
Ewr 1.684811
; Subarray write energy per bit
Ewrpb = 0.000202

; Energy leaked in 1 sec (or just the wattage) in milli Joules 
Eleak 3120.202

Eopen 0
Eclosed 0
Epdpf 0
Epdps 0
Epda 0
Eref 0


; 
; DRAM style energy calculation. All values in mA, taken from datasheet.
;
Voltage 1.5

EIDD0 85 
EIDD1 85
EIDD2P0 20 
EIDD2P1 42
EIDD2N 55
EIDD2NT 55
EIDD3P 68
EIDD3N 67
EIDD4R 207
EIDD4W 185
EIDD5B 230
EIDD6 22


