; Memory configuration file examples. 
; As an example, a Micron 512MB,128-Bank Hybrid Memory Cube (HMC) is defined
 
;================================================================================
; Interface specifications

; 1333 MHz clock (2666MT/s DDR). Clock period = 0.75 ns
CLK 1333

; Data Rate. 1 for SDR, 2 for DDR
RATE 2

; Bus width in bits. JEDEC standard is 64-bits
; for 3D DRAM, usually a wide bus is used
BusWidth 128

; Number of bits provided by each device in a rank
; Number of devices is calculated using BusWidth / DeviceWidth.
; for 3D DRAM, only one device exists in a channel
DeviceWidth 32

; NVMain use CLK and CPUFreq to do the synchronization. The ratio CLK/CPUFreq
; is actually used. So a simple CLK=1 and CPUFreq=4 still works for simulation. 
; However, it is straightforward to make it informative.
CPUFreq 3000
;================================================================================

;********************************************************************************
; General memory system configuration

; Number of banks per rank 
BANKS 32

; Number of ranks per channel
; for 3D DRAM, rank and channel is interchangable
RANKS 1

; Number of channels in the system
CHANNELS 4

; Number of rows in one bank
ROWS 8192

; Number of VISIBLE columns in one bank (real column number = COLS * DeviceWidth)
COLS 16

; whether enable sub-array level parallelism (SALP)
; options: 
;   No SALP: MATHeight = ROWS
;   SALP: number of subarrays = ROWS / MATHeight
MATHeight 8192

; Whether use refresh? 
UseRefresh true

; the refresh granularity (the number of banks refreshed together in a rank)
; this must NOT be 0 when UseRefresh is true
BanksPerRefresh 32

;RefreshRows is the number of rows to refresh per refresh operation (ROWS/8192 for DRAM)
RefreshRows 1

; the number of refresh that can be delayed
; options: 1 -- 8 (DDR-3 defines the maximum 9*tREFI)
; when 1 is applied, immediate refresh is used, otherwise the refresh can be
; delayed
DelayedRefreshThreshold 1; 
;********************************************************************************

;================================================================================
; Memory device timing parameters (in memory cycle) 

; length of data burst 
tBURST 2

; For 3D DRAM, since we already have a faster clock, no change here.
tCMD 1
tRAS 24
tRCD 10
tAL 0
tCCD 4
tCWD 7
tWTR 5
tWR 10
tRP 10
tCAS 10 ; tCAS is also known as tCL

tRTRS 1 ; for DDR-1, tRTRS can be 0
tRTP 5
tRFC 107
tOST 1 ; ODT switching time

tRRDR 5 ; tRRDR is used for tRRD by default
tRRDW 5

; Row Activation Window (RAW), which specifies the maximum Activation in a
; rolling window. tRAW is the corresponding window width (in cycle).
; Options:
;   for 2D DRAM, RAW = 4, Four Activation Window (FAW)
;   for WideI/O DRAM, RAW = 2, Two Activation Window (TAW)
RAW 4
tRAW 20

; powerdown mode enter and exit 
tRDPDEN 24
tWRPDEN 19
tWRAPDEN 22
tPD 6
tXP 6
tXPDLL 17

; refresh window between two refreshes to a cell (in cycle)
; options: for DDR3, 64ms (normal) or 32ms (thermal extended)
;          for LPDDR3, 32ms (normal) or 16ms (thermal extended)
;          for 3D DRAM, 32ms/16ms/8ms are all possible
tREFW 42666667
;================================================================================

;********************************************************************************
; Memory device energy and power parameters
 
; Read/write values are in nano Joules
; NOTES:
;   NVSIM energy is per word
;   Erd is the read energy from a single mat
;   Ewr is the write energy (SET or RESET, they are the same)
;   These values are the energys required to read a page into a row buffer.
;
;   Other energy values are taken from CACTI
;
EnergyModel current
Erd 0.081200 
Eopenrd 0.001616
Ewr 1.684811
; Subarray write energy per bit
Ewrpb = 0.000202

; Energy leaked in 1 sec (or just the wattage) in milli Joules 
Eleak 3120.202

Eopen 0
Eclosed 0
Epdpf 0
Epdps 0
Epda 0
Eref 0

; DRAM style power calculation. All values below in mA, taken from datasheet.

; for 3D DRAM, the supply voltage scale down to 1.2V
Voltage 1.2

; so far, no data is available from Micron, same as 2D DRAM
; TODO: update the current value accordingly
EIDD0 41 
EIDD1 54
EIDD2P0 12 
EIDD2P1 12
EIDD2N 23
EIDD2NT 23
EIDD3P 22
EIDD3N 33
EIDD4R 88
EIDD4W 91
EIDD5B 111
EIDD6 12
;********************************************************************************

;================================================================================
; Memory controller parameters

; Specify which memory controller to use
; options: PerfectMemory, FCFS, FRFCFS, FRFCFS-WQF, DRC (for 3D DRAM Cache)
MEM_CTL FRFCFS-WQF

; whether dump the memory request trace?
CTL_DUMP false

; whether use close-page row buffer management policy?
; options: 
;   0--Open-Page, the row will be closed until a row buffer miss occurs
;   1--Relaxed Close-Page, the row will be closed if no other row buffer hit exists
;   2--Restricted Close-Page, the row will be closed immediately, no row
;      buffer hit can be exploited
ClosePage 0

; command scheduling scheme
; options: 0--fixed priority, 1--rank first round-robin, 2--bank first-round-robin
ScheduleScheme 2

; address mapping scheme
; options: SA:R:RK:BK:CH:C (SA-Subarray, R-row, C:column, BK:bank, RK:rank, CH:channel)
AddressMappingScheme SA:R:RK:BK:CH:C

; interconnect between controller and memory chips
; options: OffChipBus (for 2D), OnChipBus (for 3D)
INTERCONNECT OnChipBus

; FRFCFS-WQF specific parameters
ReadQueueSize 32; read queue size

WriteQueueSize 32; write queue size

HighWaterMark 32; write drain high watermark. write drain is triggerred if it is reached

LowWaterMark 16; write drain low watermark. write drain is stopped if it is reached
;================================================================================

;********************************************************************************
; Simulation control parameters
;
PrintGraphs false
PrintPreTrace false
PreTraceFile mcf.trace
EchoPreTrace false
PeriodicStatsInterval 100000000

TraceReader NVMainTrace
;********************************************************************************

;================================================================================
; Endurance model parameters
; This is used for Non-volatile memory

EnduranceModel NullModel
EnduranceDist Normal
EnduranceDistMean 1000000 
EnduranceDistVariance  100000
FlipNWriteGranularity 32

; Everything below this can be overridden for heterogeneous channels
;CONFIG_CHANNEL0 lp_rram.config
;CONFIG_CHANNEL1 hp_rram.config

; whether set the DRAM in powerdown mode at the beginning?
InitPD false
;================================================================================
