
; Memory parameters 
; 
;================================================================================
; Interface specifications

CLK 2000

; Data Rate. 1 for SDR, 2 for DDR
RATE 2

; Bus width in bits. Assume 128-bit (HBM-like) for 3D-stacked memory.
BusWidth 128

; Number of bits provided by each device in a rank
; Number of devices is calculated using BusWidth / DeviceWidth.
; We assume devices are only used in DIMMs and go away in 3D-stacked memory
DeviceWidth 128

; For DRAM Cache, this should be the system bus frequency from gem5
CPUFreq 2000


;================================================================================

;********************************************************************************
; General memory system configuration

; Number of banks per rank
BANKS 8

; Number of ranks per channel
RANKS 1

; Number of channels in the system (not used for DRAM cache)
CHANNELS 1

; Number of DRAM channels in the system
DRC_CHANNELS 1

; Number of rows in a bank
ROWS 16384

; Number of addressable columns in one logical bank
COLS 32

; No SALP
MATHeight 16384

; Refresh stuff. RefreshRows = # of rows to refresh per refresh operation.
UseRefresh true

; RefreshRows is the number of rows to refresh per refresh operation 
; for example, RefreshRows = ROWS/8192 for DRAM
RefreshRows 2

; the refresh granularity (the number of banks refreshed together in a rank)
; this must NOT be 0 when UseRefresh is true
BanksPerRefresh 2

; the number of refresh that can be delayed
; options: 1 -- 8 (DDR-3 defines the maximum 9*tREFI)
; when 1 is applied, immediate refresh is used, otherwise the refresh can be
; delayed
DelayedRefreshThreshold 1
;********************************************************************************

;================================================================================
; Memory device timing parameters (in memory cycle)
; These timings assume DRAM cache is 2x faster than off-chip
tRAS 35


tCMD 1
tBURST 2

tRCD 14
tAL 0
tCCD 2
tCWD 5
tWTR 6
tWR 25
; tCAS is also known as tCL
tCAS 14
tRTRS 1
tRTP 6
tRP 14
; ODT switching time
tOST 1 
tRFC 107

tRRDR 6
tRRDW 6
tRAW 25


tPD 6
tXP 8
tXPDLL 29

; refresh window between two refreshes to a cell (in cycle, e.g., 64ms/tCK)
; options: for DDR3, 64ms (normal) or 32ms (thermal extended)
;          for LPDDR3, 32ms (normal) or 16ms (thermal extended)
;          for 3D DRAM, 32ms/16ms/8ms are all possible
tREFW 64ms
;********************************************************************************

;================================================================================
; Memory device timing parameters (in memory cycle)
; These timings assume DRAM cache is 1.5x faster than off-chip
;tRAS 47
;
;
;tCMD 1
;tBURST 2
;
;tRCD 18
;tAL 0
;tCCD 2
;tCWD 7
;tWTR 8
;tWR 33
;; tCAS is also known as tCL
;tCAS 18
;tRTRS 1
;tRTP 8
;tRP 18
;; ODT switching time
;tOST 1 
;tRFC 107
;
;tRRDR 8
;tRRDW 8
;tRAW 30
;
;
;tPD 8
;tXP 10
;tXPDLL 38
;
;; refresh window between two refreshes to a cell (in cycle, e.g., 64ms/tCK)
;; options: for DDR3, 64ms (normal) or 32ms (thermal extended)
;;          for LPDDR3, 32ms (normal) or 16ms (thermal extended)
;;          for 3D DRAM, 32ms/16ms/8ms are all possible
;tREFW 64ms
;================================================================================

;********************************************************************************
; Memory device energy and power parameters
 
EnergyModel current

; Energy Parameters
; 
; Read/write values are in nano Joules
; NOTES:
;   NVSIM energy is per word
;   Erd is the read energy from a single mat
;   Ewr is the write energy (SET or RESET, they are the same)
;   These values are the energys required to read a page into a row buffer.
;
;   Other energy values are taken from CACTI
;
Erd 0.081200 
Eopenrd 0.001616
Ewr 1.684811
; Subarray write energy per bit
Ewrpb = 0.000202

; Energy leaked in 1 sec (or just the wattage) in milli Joules 
Eleak 3120.202

Eopen 0
Eclosed 0
Epdpf 0
Epdps 0
Epda 0
Eref 0


; 
; DRAM style energy calculation. All values in mA, taken from datasheet.
;
Voltage 1.5

EIDD0 85 
EIDD1 85
EIDD2P0 20 
EIDD2P1 42
EIDD2N 55
EIDD2NT 55
EIDD3P 68
EIDD3N 67
EIDD4R 207
EIDD4W 185
EIDD5B 230
EIDD6 22




;********************************************************************************

;================================================================================
; Memory controller parameters

; Specify which memory controller to use
; options: PerfectMemory, FCFS, FRFCFS, FRFCFS-WQF, DRC (for 3D DRAM Cache)
MEM_CTL PredictorDRC
DRCVariant LO_Cache
DRCPredictor VariablePredictor
VariablePredictorAccuracy 0.90
Decoder DRCDecoder
IgnoreBits 0
UseFillCache false
FillQueueSize 8
MM_CONFIG 3D_DRAMCache_OffChipMemory_example.config


; whether use close-page row buffer management policy?
; options: 
;   0--Open-Page, the row will be open until a row buffer miss occurs
;   1--Relaxed Close-Page, the row will be closed if no other row buffer hit exists
;   2--Restricted Close-Page, the row will be closed immediately, no row
;      buffer hit can be exploited
;ClosePage 0

; command scheduling scheme
; options: 0--fixed priority, 1--rank first round-robin, 2--bank first round-robin
;ScheduleScheme 2

; address mapping scheme
; options: R:RK:BK:CH:C (R-row, C:column, BK:bank, RK:rank, CH:channel)
AddressMappingScheme R:RK:C:BK:CH

; interconnect between controller and memory chips
; options: OffChipBus (for 2D), OnChipBus (for 3D)
INTERCONNECT OnChipBus



;================================================================================

;********************************************************************************
; Simulation control parameters
;
PrintGraphs false
PrintPreTrace false
PreTraceFile mcf.trace
EchoPreTrace false
PeriodicStatsInterval 1000000

TraceReader NVMainTrace


;********************************************************************************

;================================================================================
; Endurance model parameters
; This is used for Non-volatile memory

EnduranceModel NullModel
EnduranceDist Normal
EnduranceDistMean 1000000 
EnduranceDistVariance  100000

; whether set the DRAM in powerdown mode at the beginning?
InitPD false
;********************************************************************************

;================================================================================
; NVMain plugins
; RequestTracer for debugging

;AddHook RequestTracer 
;AddHook PostTrace


