; This configuration file gives an example hybrid memory system.
; A hybrid memory system consists of 2 or more channels of memory,
; where at least one channel is of different technology or uses a
; different interconnect. Examples of this include DRAM/NVM hybrids
; or same technology with one channel being used as 3D-stacked 
; memory. In this file, we consider a DRAM/PCM system which uses
; a hardware-based migrator to remap pages between the two memory
; channels.
;
; For this configuration file we only need to define parameters 
; used by the NVMain and RunTrace / gem5 NVMainMemory classes.
; The rest of the parameters are overwritten on a per-channel basis.


;================================================================================
; Interface specifications

; Clock rates in MHz for the channel and CPU frequency
CLK 667
CPUFreq 2000


;================================================================================
; General memory system configuration

; Number of channels in the system
CHANNELS 4

; Currently our hybrid system needs to have the same number of
; banks, ranks, etc in each channel.
BANKS 8
RANKS 1
ROWS 65536
COLS 32

; Specify our override channels
CONFIG_CHANNEL0 Hybrid_DRAM_channel.config
CONFIG_CHANNEL1 Hybrid_NVM_channel.config
CONFIG_CHANNEL2 Hybrid_NVM_channel.config
CONFIG_CHANNEL3 Hybrid_NVM_channel.config

;================================================================================
; Memory controller parameters

; We need address mapping scheme. It is up to the user to make sure
; the bits selected to find the channel match all of the channel's
; decoders in the hybrid system. For simplicity we use xx:CH:C --
; Because our hardware-based migrator requires the number of columns
; to be the same, the channels will also be at the same bits.
AddressMappingScheme SA:R:RK:BK:CH:C

Decoder Migrator

;================================================================================

;********************************************************************************
; Simulation control parameters
;
PrintPreTrace false
PreTraceFile hybrid.trace
EchoPreTrace false

TraceReader NVMainTrace

;================================================================================
; Define our hardware-based migrator, which is a Hook.

AddHook CoinMigrator
; 2% chance of migration
CoinMigratorProbability 0.25
CoinMigratorPromotionChannel 0

