; Memory parameters 
; 
; Interface specifications
; 933 MHz clock
CLK 1866
; Data Rate. 1 for SDR, 2 for DDR
RATE 2
; Bus width in bits. JEDEC standard is 64-bits
BusWidth 64
; Number of bits provided by each device in a rank
; Number of devices is calculated using BusWidth / DeviceWidth.
DeviceWidth 8


; 2.4 Ghz CPU clock
CPUFreq 2400


; Number of banks per rank and number of ranks.
BANKS 8
RANKS 8
CHANNELS 1
; Number of active rows from NVSIM
; All predecoding should be part of the row address.
;ROWS 262144
;ROWS 131072
ROWS 65536
; Number of active cols from NVSIM
COLS 2048


; Control parameters
PrintGraphs false
PrintPreTrace true
PreTraceFile nvmain.nvt
EchoPreTrace true
;PeriodicStatsInterval 10000000
UseRefresh false

TraceReader NVMainTrace

; Endurance model parameters
EnduranceModel NullModel
EnduranceDist Normal
EnduranceDistMean 1000000 
EnduranceDistVariance  100000
FlipNWriteGranularity 32

; Everything below this can be overridden for heterogeneous channels
;CONFIG_CHANNEL0 lp_rram.config
;CONFIG_CHANNEL1 hp_rram.config

; Specify which memory controller to use
MEM_CTL PerfectMemory
INTERCONNECT OnChipBus 

InitPD false

;
DeviceConfig dev.conf


; Timing parameters 
tRAS 0


tCMD 1
tBURST 4

tRCD 2
tAL 0
tCCD 2
tCWD 4
tWTR 3
tWR 42
tCAS 2
tRTRS 1
tRTP 2
tRP 5
; ODT switching time
tOST 1 

tRRDR 3
tRRDW 3
tFAW 50


tPD 4
tXP 3
tXPDLL 10



EnergyModel energy

; Energy Parameters
; 
; Read/write values are in nano Joules
; NOTES:
;   NVSIM energy is per word
;   Erd is the read energy from a single mat
;   Ewr is the write energy (SET or RESET, they are the same)
;   These values are the energys required to read a page into a row buffer.
;
;   Other energy values are taken from CACTI
;
Erd 0.081200 
Eopenrd 0.001616
Ewr 1.684811
; Subarray write energy per bit
Ewrpb = 0.000202

; Energy leaked in 1 sec (or just the wattage) in milli Joules 
Eleak 3120.202

Eopen 0
Eclosed 0
Epdpf 0
Epdps 0
Epda 0
Eref 0


; 
; DRAM style energy calculation. All values in mA, taken from datasheet.
;
EIDD0 85 
EIDD1 85
EIDD2P0 20 
EIDD2P1 42
EIDD2N 55
EIDD2NT 55
EIDD3P 68
EIDD3N 67
EIDD4R 207
EIDD4W 185
EIDD5B 230
EIDD6 22







