; Based on Everspin preliminary datasheet
;         MR2A16A 
;         http://www.everspin.com/PDF/EST_MR2A16A_prod.pdf
;
; The everspin devices are relatively small - 4 Mb. Therefore, we treat the designs as large
; macros with local sense amplifiers. Note that STT-RAM basically requires local sense 
; amplifers due to small resistance ratio. 
;
; For a bank, we assume 16x4 macros to give a row buffer size of 16 x 16-bits = 256-bits = 256B 
; across 8 x8 devices. Note that this row buffer only holds 2 cache lines. The resulting bank
; is 256MB. 
;
; If we assume 4 banks per device, any combination of 4 ranks/channels will bring this up to 4GB.
;

;================================================================================
; Interface specifications

; 400 MHz clock (800 MT/s LPDDR). Clock period = 1.5 ns
CLK 400

; Data Rate. 1 for SDR, 2 for DDR
RATE 2

; Bus width in bits. JEDEC standard is 64-bits
BusWidth 64

; Number of bits provided by each device in a rank
; Number of devices is calculated using BusWidth / DeviceWidth.
DeviceWidth 8

; NVMain use CLK and CPUFreq to do the synchronization. The ratio CLK/CPUFreq
; is actually used. So a simple CLK=1 and CPUFreq=4 still works for simulation. 
; However, it is straightforward to make it informative.
CPUFreq 2000
;================================================================================

;********************************************************************************
; General memory system configuration

; Number of banks per rank 
BANKS 4

; Number of ranks per channel
RANKS 1

; Number of channels in the system
CHANNELS 4

; Number of rows in one bank
ROWS 8192 ; 2048 WL / macro * 4 vertical macros

; Number of VISIBLE columns in one LOGIC bank 
COLS 512 ; 2048 bitlines/macro * 16 horiz. macros / (8 device width * 8 burst cycles)

; Assume no subarray parallelism
MATHeight 2048

; RBsize - Needs 256:1 output muxing
RBsize 2

; No refresh needed in STTRAM
UseRefresh false

; Not used in STTRAM, but we'll assign valid numbers anyway.
BanksPerRefresh 2
RefreshRows 4
DelayedRefreshThreshold 1

;********************************************************************************

;================================================================================
; Memory device timing parameters (in memory cycle) 

tBURST 4 ; length of data burst

tCMD 1   ; Commands are 1 address bus cycle
tRAS 0   ; No row restoration needed
tRCD 14  ; 35ns @ 400 MHz = 48 cycles
tWP 14   ; Write pulse time. 8.2ns @ 400 MHz = 4 cycles
tCWD 10  ; tAVAV - tDVWH = 25ns
tRP 1    ; Precharge isn't needed. Writes occur only if needed
         ; and take tWP time during a precharge (write-back)
         ; or immediately (write-through)
tWR 5    ; tEHAX = 12ns
tWTR 5   ; Need to wait until end of write recovery (tWR)
tRTP 5   ; No precharge, but still need to wait for data to leave internal
         ; FIFO buffers. Using tBURST - 1 + tAXQX 
tCAS 6   ; Assume a slightly longer tCAS due to non-local sense amplifiers.
         ; The extra time is the time to drive the global bitlines.
tAL 0    ; 0 or 1
tCCD 2   ; usually 2 or 4, no more than tBURST

; The next set of timings is mainly based on control circuits, and the times
; are taken from normal LPDDR2 datasheets.
tRTRS 1  ; for DDR-1, tRTRS can be 0
tOST 0   ; No ODT circuitry in LPDDR

; These are mostly unknown at this point, but will likely
; be similar as they are meant to preserve power integrity
tRRDR 4 
tRRDW 4
RAW 4
tRAW 20

; Powerdown entry and exit timings
tRDPDEN 10    ; Wait for read to complete - tCAS + tBURST
tWRPDEN 12    ; Wait for write to complete ... tAL + tCWD + tBURST + tWP 
tWRAPDEN 12   ; No precharge, so same as tWRPDEN
tPD 1         ; Time from powerdown command to actually in powerdown mode
tXP 3         ; Time to power-up from power-down mode - 7.5ns
tXPDLL 200000 ; No DLL in LPDDR, will be used for deep power-down (tDPD) - 500us

; Refresh timings - not used in PCM, but we'll assign valid numbers anyway.
tRFC 100
tREFW 42666667
;================================================================================

;********************************************************************************
; Memory device energy and power parameters
 
; Read/write values are in nano Joules
; NOTES:
;   NVSIM energy is per word
;   Erd is the read energy from a single mat
;   Ewr is the write energy (SET or RESET, they are the same)
;   These values are the energys required to read a page into a row buffer.
;
;   Other energy values are taken from CACTI
;
EnergyModel energy
Erd 25.872       ; (IDDR-Isb1-Isb2) * VDD * tAVAV * tBURST * RATE
Eopenrd 0.001616 ; row-buffer read -- estimate from NVSIM
Ewr 97.02        ; (IDDW-Isb1-Isb2) * VDD * tAVAV * tBURST * RATE

; Subarray write energy per bit
Ewrpb = 0.01584  ; Estimate from ISSCC/JSSC/IEDM survey -- Iset * VDD * SET pulse
                 ;                                units:     A  *  V  *    ns
                 ; VDD = 3.3, SET pulse = 12ns. Iset unknown, assuming 870uA:
                 ; "Negative-Resistance Read and Write Schemes for STT-MRAM in 0.13um CMOS"
                 ; - ISSCC 2010

; Energy leaked in 1 sec (or just the wattage) in milli Joules 
Eleak 89.1 ; (Isb1 + Isb2) * VDD

Epdpf 89.1 ; (Isb1 + Isb2) * VDD
Epdps 29.7 ; Isb2 * VDD
Epda 89.1  ; (Isb1 + Isb2) * VDD
Eref 0

Voltage 3.3
;********************************************************************************

;================================================================================
; Memory controller parameters

; Specify which memory controller to use
; options: PerfectMemory, FCFS, FRFCFS, FRFCFS-WQF, DRC (for 3D DRAM Cache)
MEM_CTL FRFCFS-WQF

; whether use close-page row buffer management policy?
; options: 
;   0--Open-Page, the row will be closed until a row buffer miss occurs
;   1--Relaxed Close-Page, the row will be closed if no other row buffer hit exists
;   2--Restricted Close-Page, the row will be closed immediately, no row
;      buffer hit can be exploited
ClosePage 0

; command scheduling scheme
; options: 0--fixed priority, 1--rank first round-robin, 2--bank first round-robin
ScheduleScheme 2

; address mapping scheme
; options: R:RK:BK:CH:C (R-row, C:column, BK:bank, RK:rank, CH:channel)
AddressMappingScheme R:RK:BK:CH:C

; interconnect between controller and memory chips
; options: OffChipBus (for 2D), OnChipBus (for 3D)
INTERCONNECT OffChipBus

; FRFCFS-WQF specific parameters
ReadQueueSize 32 ; read queue size
WriteQueueSize 32 ; write queue size
HighWaterMark 32 ; write drain high watermark. write drain is triggerred if it is reached
LowWaterMark 16 ; write drain low watermark. write drain is stopped if it is reached
;================================================================================

;********************************************************************************
; Simulation control parameters
;
PrintGraphs false
PrintPreTrace false
PreTraceFile pcm.trace
EchoPreTrace false
PeriodicStatsInterval 100000000

TraceReader NVMainTrace
;********************************************************************************

;================================================================================
; Endurance model parameters
; This is used for Non-volatile memory

EnduranceModel NullModel
EnduranceDist Normal
EnduranceDistMean 1000000 
EnduranceDistVariance  100000

; Everything below this can be overridden for heterogeneous channels
;CONFIG_CHANNEL0 rram_channel0.config
;CONFIG_CHANNEL1 rram_channel1.config

; whether set the DRAM in powerdown mode at the beginning?
InitPD false
;================================================================================

; AddHook RequestTracer
